body {
	text-align: center;
	background: #9C3F3C;
	font-family: monospace;
	font-weight: 100;
}

h1 {
	color: #fff;
	font-weight: 100;
	font-size: 40px;
	margin: 40px 0px 20px;
}

#clockdiv {
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
	margin: auto;
}

#clockdiv > div {
	padding: 20px;
	margin: 30px;
	border-radius: 3px;
	background: #345D5B;
	display: inline-block;
}

#clockdiv div > span {
	padding: 20px;
	border-radius: 3px;
	background: #0C995C;
	display: inline-block;
}

.smalltext {
	padding-top: 5px;
	font-size: 25px;
	color: #fff;
	font-family: monospace;
}

.nav {
	background: #C6BBAC;
	vertical-align: middle;
}

.formFrame {
	background: #345D5B;
	padding: 50px;
	border-radius: 10px;
}

.submitButton {
	background: #0C995C;
	color: #fff;
}

.formGroup {
	color: #fff;
	text-align: left !important;
}

.drawBtnFrame {
	max-width: 400px;
	margin: auto;
}

#drawBtn {
	background: #0C995C;
	color: #fff;
	
}
#homeTitle {
	color: #fff;
	font-size: 40px;
}
#indexTitle {
	color: #fff;
}
.indexFrame {
	background: #8C7259;
	border-radius: 10px;
	color: #fff;
	margin: 5px;
	/*font-weight: 100;*/
}
#enrollSuccessImg {
	margin: auto;
}

.circle {
	height: 100px;
	width: 100px;
	margin: 10px;
	border-radius: 50%;
	background: #C6BBAC;
	display: inline-block;
	line-height: 100px;
}

.mainContentText {
	color: #fff;
}
